
.reco1{text-align: center;}
.reco1 img{margin: 2em;width: 200px;border: 4px inset;border-top-color: #b1ac9c;border-right-color: #c9c6bb;border-bottom-color: #dfdbcd;border-left-color: #c9c6bb;background: url("../img/background.jpg") center center no-repeat;background-size: cover;}
.reco1 a { 
	margin-bottom: 1em;
}
.close2 {
	cursor: pointer;
}
.close3{
	
	display: none !important;
}


